<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{title}} | Silk Valley API</title>
  </head>
  <body>
    {{> header/_header}}
    <main>
      {{{body}}}
      {{> footer/_footer}}
    </main>
  </body>
</html>