<html lang='ru'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Регистрация на сайте SILK VALLEY</title>
    <style>
      .code { background-color: #000000; /* Green */ color: white; padding: 8px
      32px; text-align: center; text-decoration: none; display: inline-block;
      font-size: 16px; margin: 10px 2px; border-radius: 8px; }

    </style>
  </head>
  <body>
    <h4>Привет, {{email}}</h4>
    <p>Спасибо за регистрацию на сайте
      <a href='https://slkvalley.com'>Silk Valley</a>. Для продолжения
      необходимо потдвердить E-mail.
      <br /><span class='code'>Ваш проверочный код - {{privateKey}}</span></p>
    <p>Если Вы не регистрировались, то просто проигнорируйте письмо.</p>
  </body>
</html>