* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
::-webkit-scrollbar {
  display: none;
}
.content {
  min-height: 100vh;
  padding: 10px 0;
}
.container {
  width: calc(1330px - 30px);
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.products {
  display: flex;
}

/* NAVBAR */
.navbar {
  padding: 16px 0;
  background: #222222;
  color: #fff;
}

.navbarwrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbarlogo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbarlogo span {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.8em;
  text-transform: uppercase;
  color: rgb(194, 194, 194);
}

.forrbidden {
  padding: 20px 50px;
}
.forrbidden span {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.4em;
  color: rgb(218, 166, 23);
}
